.container {
  text-align: center;
  padding: 1em;
  .radio-group-size {
    display: inherit;
    margin: 15px 0;
  }

  .example-radio-button {
    margin: 5px;
  }
  .radio-label {
    display: inherit;
    font-weight: bold;
  }
  .image-div {
    margin-top: 50px;
  }
}
